<% if users.exists? %>
 <% users.each do |user| %>
 <table>
   <thead>
     <tr>
       <th>name</th>
       <th></th>
       <th></th>
     </tr>
   </thead>

 <tbody>
 <tr>
   <td>フォロー数:<%= user.followin.count %></td>
   <td>フォロワー数:<%= user.follower.count %></td>
 </tr>
 </tbody>
</table>
<% end %>
<% else %>
 <p>ユーザーはいません</p>
<% end %>